body {
    background-color: darkcyan;
}

.img-size {
    width: 200px;
}

.productsContainer {
    display: flex;
    margin: auto;
    /* border: 2px red solid; */
    width: 53%;
    flex-wrap: wrap;
}

.pageButton {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 6%;
    /* border: solid red 2px; */

}

@media screen and (max-width: 1920px) and (max-height: 1080px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 1536px) and (max-height: 864px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width: 360px) and (max-height: 780px) {
    body {
        width: 100%;
    }
}