body {
    background-color: darkcyan;
}

.img-size {
    width: 200px;
}

.productsContainer {
    display: flex;
    margin: auto;
    width: 53%;
    flex-wrap: wrap;
}

.pageButton {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 6%;
}


@media screen and (max-width: 1536px) and (max-height: 864px) {
    .img-size{
        width: 155px;
    }
}

@media screen and (max-width: 360px) and (max-height: 780px) {
    .img-size {
        width: 25px;
    }
    .productsContainer {
        font-size: 10px;
    }
    button{
        width: 50px;
        font-size: 10px;
    }
}