body {
    background-color: darkcyan;
}

#title {
    color: yellow;
}

button {
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
}

/* -- Products elements css */

.img-size {
    width: 200px;
}

.productsContainer {
    display: flex;
    margin: auto;
    width: 54.5%;
    flex-wrap: wrap;
    text-align: center;
    gap: 2px;
}

.productsContainer div {
    border: black solid 1px;
    width: 200px;
}

.productsContainer div button:active {
    background-color: orange;
}
/* -- */

/* -- Side cart display*/
.toShopCartButton {
    margin: auto;
    margin-bottom: 5px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    width: 33.4%;
    background-color: orange;
}

#cartDisplayTitle {
    color: black;
}

.cartDisplay {
    text-align: center;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    width: 380px;
    left: 1500px;
    top: 150px;
}
/* -- */

/* -- Shopping cart div css */
.cartDisplay h2 {
    color: cornsilk;
}

#shoppingCartTitle {
    color: black;
}

.shoppingCartText {
    background-color: green;
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    width: 30%;
    text-align: center;
}

.shoppingCartText h2 {
    color: cornsilk;
}

.shoppingCartText button {
    width: 200px;
    background-color: orange;
}
/* -- */


@media screen and (max-width: 1536px) and (max-height: 864px) {
    .img-size {
        width: 150px;
    }

    .cartDisplay {
        top: 50px;
        left: 1216px;
        width: 250px;
    }
    .toShopCartButton {
        margin: auto;
        margin-bottom: 5px;
        margin-left: 26%;
        margin-right: 26%;
        width: 50%;
        background-color: orange;
    }
}

@media screen and (max-width: 360px) and (max-height: 780px) {
    .img-size {
        width: 50px;
    }

    .productsContainer {
        font-size: 30px;
    }

    button {
        width: 200px;
        font-size: 30px;
    }

    .cartDisplay {
        font-size: 30px;
        left: 0;
        width: 100px;
    }
}